services:
  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./src/backend
    environment:
      OLLAMA_URL: http://ollama:11434
    volumes:
      - ./src/backend/vectorstore:/app/vectorstore
      - ./src/backend/data:/app/data
    ports:
      - "8000:8000"
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
